.icon, .greeting {
    font-weight: 600;
    text-align: left;
}

.icon {
    font-size: 3rem;
}

.greeting {
    font-size: 2rem;
    color: #123458;
}

@keyframes moveLeftRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
}

.animated_arrow {
    animation: moveLeftRight 1s ease-in-out infinite;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animated_icon {
    animation: rotateIcon 2.0s linear infinite;
}
